[Unit]
Description=OVH-DynDNS Service
ConditionPathExists=/usr/bin/ovh-dyndns
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=ovh-dyndns
Group=ovh-dyndns

Restart=on-failure
RestartSec=10

ExecStart=/usr/bin/ovh-dyndns

# Make sure log directory exists
ExecStartPre=+/bin/mkdir -p /var/log/ovh-dyndns
ExecStartPre=+/bin/chown ovh-dyndns:ovh-dyndns /var/log/ovh-dyndns
ExecStartPre=+/bin/chmod 0744 /var/log/ovh-dyndns

[Install]
WantedBy=multi-user.target
