[Unit]
Description=OVH-DynDNS Service
ConditionPathExists=/usr/bin/ovh-dyndns
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=ovh-dyndns
Group=ovh-dyndns

Restart=on-failure
RestartSec=15

ExecStart=/usr/bin/ovh-dyndns

# Make sure config file exists
ExecStartPre=+/bin/mkdir -p /etc/ovh-dyndns
ExecStartPre=+/bin/chown root:mac-api /etc/ovh-dyndns
# Make sure log directory exists
ExecStartPre=+/bin/mkdir -p /var/log/ovh-dyndns
ExecStartPre=+/bin/chown ovh-dyndns:ovh-dyndns /var/log/ovh-dyndns
ExecStartPre=+/bin/chmod 0744 /var/log/ovh-dyndns

[Install]
WantedBy=multi-user.target
